# vim
*.sw?

# python
**/__pycache__
**/.ipynb_checkpoints

# MacOS
**/.DS_Store

# dataset & models directories
**/dogs-vs-cats
**/aclImdb
**/spa-eng
**/glove
**/jena
**/coco
**/oxford-pets

**/models

# PyTorch experiiments
**/*.PT.ipynb
**/MNIST
